<div class="card">
    <div class="modal-header card-header">
        <h3 class="modal-title display-9">Summary Report Month of Study</h3>
        <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="modalService.dismissAll()"><span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="row modal-body card-body">
        <div class="row justify-content-center">
            <gha-alert-error></gha-alert-error>
            <div class="col-8">
                <div class="row col-12">Month Of Study</div>
                <form name="editForm" role="form" novalidate [formGroup]="editForm">
                    <div>
                        <gha-dynamic-form [questions]="questions" (model)='updateQuery($event)' [queryForm]="editForm"></gha-dynamic-form>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer display-10">Please use format yyyy-MM-dd for dates</div>
</div>
