<li
    *ghaHasAnyAuthority="'ROLE_USER'"
    ngbDropdown
    class="nav-item dropdown pointer"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
>
    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
        <span>
          <fa-icon icon="asterisk"></fa-icon>
          <span>Share</span>
        </span>
    </a>
    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
        <li>
            <a class="dropdown-item" routerLink="/display/transaction-list" routerLinkActive="active">
                <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                <span>Transaction Metadata</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="/display/formal-docs-list" routerLinkActive="active">
                <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                <span>Formal Docs Metadata</span>
            </a>
        </li>
    </ul>
</li>
