<div class="table-responsive">
    <h5>Formal Document Metadata</h5>

    <div class="btn-group">
        <button type="submit"
                class="btn btn-info btn-sm">
            <fa-icon icon="eye"></fa-icon>
            <span class="d-none d-md-inline">Share</span>
        </button>

        <td><input type="email"></td>
    </div>

    <br></br>

    <table class="table table-striped table-bordered table-sm row-border hover"
           datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Subject</th>
            <th>Brief</th>
            <th>Date</th>
            <th>Type</th>
            <th>Doc #</th>
            <th>Filename</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let formalDocument of formalDocMetaDataArray">
            <!--<td><a [routerLink]="['/formal-document', formalDocument.id, 'view']">{{ formalDocument.id }}</a></td>-->
            <td><input type="checkbox"></td>
            <td>{{ formalDocument.documentTitle }}</td>
            <td>{{ formalDocument.briefDescription }}</td>
            <td>{{ formalDocument.documentSubject }}</td>
            <td>{{ formalDocument.documentDate | date:'mediumDate' }}</td>
            <td>{{ formalDocument.documentType }}</td>
            <td>{{ formalDocument.documentStandardNumber }}</td>
            <td>{{ formalDocument.filename }}</td>
            <td class="text-right">
                <div class="btn-group">
                    <button type="submit"
                            [routerLink]="['/formal-document', formalDocument.id, 'view']"
                            class="btn btn-info btn-sm">
                        <fa-icon icon="eye"></fa-icon>
                        <span class="d-none d-md-inline">View</span>
                    </button>

                    <button type="submit"
                            [routerLink]="['/formal-document', formalDocument.id, 'edit']"
                            class="btn btn-primary btn-sm">
                        <fa-icon icon="pencil-alt"></fa-icon>
                        <span class="d-none d-md-inline">Edit</span>
                    </button>

                    <button type="submit" (click)="delete(formalDocument)"
                            class="btn btn-danger btn-sm">
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline">Delete</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
