<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="department">
            <h2><span>Department</span> {{ department.id }}</h2>

            <hr>

            <gha-alert-error></gha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Department Name</span></dt>
                <dd>
                    <span>{{ department.departmentName }}</span>
                </dd>
                <dt><span>Department Number</span></dt>
                <dd>
                    <span>{{ department.departmentNumber }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/department', department.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
