<div class="table-responsive">
    <h5>All Deposit List</h5>
    <table class="table table-striped table-bordered table-sm row-border hover"
           datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
        <tr>
            <th><span>ID</span></th>
            <th><span>SBU CODE</span></th>
            <th><span>RM Code</span></th>
            <th><span>Scheme Code</span></th>
            <th><span>GL Code</span></th>
            <th><span>Currency</span></th>
            <th><span>Customer Id</span></th>
            <th><span>Account Number</span></th>
            <th><span>Account Name</span></th>
            <th><span>Account Balance</span></th>
            <th><span>Sector</span></th>
            <th><span>Sub Sector</span></th>
            <th><span>Opening Date</span></th>
            <th><span>Maturity Date</span></th>
            <th><span>Account Status</span></th>
            <th><span>Rate</span></th>
            <th><span>Booked Interest</span></th>
            <th><span>Interest</span></th>
            <th><span>Accrued Interest</span></th>
            <th><span>Deposit Scheme</span></th>
            <th><span>Revalued Total Amount</span></th>
            <th><span>Revalued Principal Amount</span></th>
            <th><span>Revalued Interest Amount</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let depositAccount of deposits">
            <td>{{depositAccount.id}}</td>
            <td>{{depositAccount.sbuCode}}</td>
            <td>{{depositAccount.rmCode}}</td>
            <td>{{depositAccount.schemeCode}}</td>
            <td>{{depositAccount.glCode}}</td>
            <td>{{depositAccount.currencyCode}}</td>
            <td>{{depositAccount.customerId}}</td>
            <td>{{depositAccount.accountNumber}}</td>
            <td>{{depositAccount.accountName}}</td>
            <td>{{depositAccount.accountBalance}}</td>
            <td>{{depositAccount.sector}}</td>
            <td>{{depositAccount.subSector}}</td>
            <td>{{depositAccount.accountOpeningDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{depositAccount.accountMaturityDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{depositAccount.accountStatus}}</td>
            <td>{{depositAccount.rate}}</td>
            <td>{{depositAccount.bookedInterestAmount | number:'3.1-5'}}</td>
            <td>{{depositAccount.interestAmount | number:'3.1-5'}}</td>
            <td>{{depositAccount.accruedInterestAmount | number:'3.1-5'}}</td>
            <td>{{depositAccount.depositScheme}}</td>
            <td>{{depositAccount.revaluedTotalAmount | number:'3.1-5'}}</td>
            <td>{{depositAccount.revaluedPrincipalAmount | number:'3.1-5'}}</td>
            <td>{{depositAccount.revaluedInterestAmount | number:'3.1-5'}}</td>
        </tr>
        </tbody>
    </table>
</div>
