<div>
    <h2 id="page-heading">
        <span>Formal Documents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-formal-document" [routerLink]="['/formal-document/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Formal Document
            </span>
        </button>
    </h2>

    <gha-alert-error></gha-alert-error>

    <gha-alert></gha-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="formalDocuments?.length === 0">
        <span>No formalDocuments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="formalDocuments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentTitle"><span>Document Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentSubject"><span>Document Subject</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="briefDescription"><span>Brief Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentDate"><span>Document Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentType"><span>Document Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentStandardNumber"><span>Document Standard Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentAttachment"><span>Document Attachment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let formalDocument of formalDocuments ;trackBy: trackId">
                    <td><a [routerLink]="['/formal-document', formalDocument.id, 'view']">{{ formalDocument.id }}</a></td>
                    <td>{{ formalDocument.documentTitle }}</td>
                    <td>{{ formalDocument.documentSubject }}</td>
                    <td>{{ formalDocument.briefDescription }}</td>
                    <td>{{ formalDocument.documentDate | date:'mediumDate' }}</td>
                    <td>{{ formalDocument.documentType }}</td>
                    <td>{{ formalDocument.documentStandardNumber }}</td>
                    <td>
                        <a *ngIf="formalDocument.documentAttachment" (click)="openFile(formalDocument.documentAttachmentContentType, formalDocument.documentAttachment)">open</a>
                        <span *ngIf="formalDocument.documentAttachment">{{ formalDocument.documentAttachmentContentType }}, {{ byteSize(formalDocument.documentAttachment) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/formal-document', formalDocument.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/formal-document', formalDocument.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(formalDocument)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="formalDocuments?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
