<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="submit()" [formGroup]="editForm">
            <h2 id="gha-share-specification-heading">Share Documents</h2>

            <div>
                <gha-alert-error></gha-alert-error>

                <div class="form-group">
                    <label class="form-control-label" for="field_sharingTitle">Sharing Title</label>
                    <input type="text" class="form-control" name="sharingTitle" id="field_sharingTitle"
                           formControlName="sharingTitle"/>
                    <div *ngIf="editForm.get('sharingTitle')!.invalid && (editForm.get('sharingTitle')!.dirty || editForm.get('sharingTitle')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sharingTitle')?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sharingSubTitle">Sharing Sub-Title</label>
                    <input type="text" class="form-control" name="sharingSubTitle" id="field_sharingSubTitle"
                           formControlName="sharingSubTitle"/>
                    <div *ngIf="editForm.get('sharingSubTitle')!.invalid && (editForm.get('sharingSubTitle')!.dirty || editForm.get('sharingSubTitle')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sharingSubTitle')?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_briefDescription">Brief Description</label>
                    <input type="text" class="form-control" name="briefDescription" id="field_briefDescription"
                           formControlName="briefDescription"/>
                </div>

                <div class="form-group" [formGroup]="recipientForm">
                    <table class="table" formArrayName="recipientsArray" id="field_recipientsArray">
                        <tr>
                            <th colspan="3">Recipients</th>
                            <th width="150px"><button type="button" (click)="addRecipient()" class="btn btn-primary">Add Recipient</button></th>
                        </tr>
                        <tr *ngFor="let recipient of recipients().controls; let i=index" [formGroupName]="i">
                            <td>
                                Recipient Email Address
                                <input type="text" formControlName="recipientEmailAddress" class="form-control">
                            </td>

                            <td>
                                Recipient
                                <input type="text" formControlName="recipientUsername" class="form-control">
                            </td>

                            <td>
                                Correspondent
                                <input type="text" formControlName="correspondentUsername" class="form-control">
                            </td>

                            <td>
                                <button (click)="removeRecipient(i)" class="btn btn-danger">Remove</button>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_documentSharingType">Document Type</label>
                    <select class="form-control" name="documentSharingType" formControlName="documentSharingType" id="field_documentSharingType">
                        <option value="TRANSACTION">TRANSACTION</option>
                        <option value="FORMAL">FORMAL</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="field_maximumFileSize">Max File Size</label>
                <input type="text" class="form-control" name="maximumFileSize" id="field_maximumFileSize"
                       formControlName="maximumFileSize"/>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" class="btn btn-primary">
                    <fa-icon icon="eye"></fa-icon>&nbsp;<span>Share</span>
                </button>

                <!--<button type="submit" id="save-entity" [disabled]="editForm.invalid || isSharing" class="btn btn-primary">
                    <fa-icon icon="eye"></fa-icon>&nbsp;<span>Share</span>
                </button>-->
            </div>
        </form>
    </div>
</div>
